show_frame=true
fg_set=false
bg_set=false
timezone=Asia/Kolkata
width_set=true
height_set=false
lines_vertically=false
rotation=0
data0=%a %b %d %l:%M %p
font0=Sans Bold 10
tooltip=
hib_timing=false
width=150

