[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=Chrome "%s"
Icon=Chrome
Name=Chrome
X-XFCE-Commands=Chrome

